/* navbar */
.navmain {
    padding: 25px !important;
}

.navlink {
    /* width: 300px !important; */
    margin-left: 60px !important;
}

.headermain {
    background-color: #c2ebd9;
    padding-bottom: 15px;
}

.navlink li {
    padding-left: 15px !important;
    font-weight: 600 !important;
}

.logo_img {
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .navlink {
        margin-left: 0px !important;
    }
}

.sec2_para {
    font-size: 25px;
    font-family: "IBMPlexSans", "Arial Narrow", sans-serif;
    font-weight: 400;
    color: rgb(6, 6, 121);
    border-bottom: 1px solid #fc6140;
    width: 100px;

}

.dropdown:hover .dropdown-menu {
    display: block !important;
    transition: 0.3s !important;
}

.dropdown-menu {
    width: 250px !important;
    display: none !important;
    padding-top: 15px !important;
    padding-left: -10px !important;
    padding-bottom: 15px !important;
    padding-right: 3px !important;
    box-shadow: 2 20px 19px rgba(4, 4, 6, 0.1) !important;
    border: 1px solid black !important;

}

.dropdown-menu .dropdown-item {
    color: #00819d !important;
    font-weight: 500 !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #00819d !important;
    color: white !important;
    transition: 0.2s !important;
    border-radius: 5px;
}

.nav_link:hover {
    color: #00819d !important;
    transition: 0.3s;
}

.banner {
    width: 200%;
}

.banner_text {
    font-size: 65px;
    font-weight: 700 !important;
}

.banner_para {
    font-size: 21px;
    margin-top: 50px;
}

.nav_btn {
    background-color: #00819d !important;
    color: white !important;
}

.nav_btn:hover {
    background-color: white !important;
    border-color: #00819d !important;
    box-shadow: 0 6px 19px rgba(13, 13, 14, 0.1) !important;
    color: #00819d !important;
    transition: 0.5s !important;
}

.banner_text2 {
    font-size: 50px;
    font-weight: 500;
}

.sec2_banner {
    width: 350px;
    margin-left: 25px;
}

.data_img {
    padding-top: 30px;
}

.sectionThree {
    background-color: #faf5e7 !important;
}

.sec3_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 93px !important;
}

.sec4_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 98px !important;
}

.sec5_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 135px !important;
}

.sec6_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 196px !important;
}

.sec7_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 162px !important;
}

.sec8_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 145px !important;
}

.sec9_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 167px !important;
}

.sec10_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #fc6140;
    width: 112px !important;
}

.sec11_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #FC6140;
    width: 48px !important;
}

.logo1 {
    width: 700px;
}

.sec12_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #FC6140;
    width: 65px !important;
}

.sec13_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #FC6140;
    width: 170px !important;
}

.sec14_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #FC6140;
    width: 196px !important;
}
.sec15_para {
    font-size: 25px;
    font-weight: 500;
    color: rgb(6, 6, 121);
    border-bottom: 2px solid #FC6140;

}
/* footer */
.rightmenu {
    float: right !important;
    margin-top: 130px;
}

.footerMain {
    background-color: #0A485B !important;
    padding-top: 110px !important;
    padding-bottom: 50px !important;
}

.footer-list li a {
    text-decoration: none !important;
    color: white !important;
}

.footer-list li a:hover {
    text-decoration: none !important;
    transition: 0.3s;
    color: #55997a !important;
}

.footer-list {
    list-style: none;
    color: rgb(161, 157, 157) !important;
}

.footer_clr {
    color: rgb(161, 157, 157) !important;
}

.Header-subtitle {
    font-size: 1.125rem;
    font-family: "IBMPlexSans", "Arial Narrow", sans-serif;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: normal;
    color: #2d2c2b !important;
}

.icon-nav {
    width: 25px;

}

.icon-img {
    width: 600px !important;

}

/* blog */
.post {
    display: none;
}

.post.active {
    display: block;
}

.blog_list li {
    list-style: none;
    padding: 20px;
}

.blog_list li a {
    list-style: none;
    padding: 7px;
    font-weight: 500;
    color: black !important;
    text-decoration: none;
}

.blog_list a.active {

    color: #fff !important;
    font-weight: 600;
    background-color: #00819d;
    line-height: 150%;
    border-radius: 10px;
    text-decoration: none;
}

.blog_img:hover {
    width: 630px !important;
    cursor: pointer !important;
    transition: 0.3s;
}

.card {
    border: none !important;
}

.blog_img2:hover {
    width: 410px !important;
    cursor: pointer !important;
    transition: 0.3s;
}

.card h4 {
    color: #00819d;
}

.card a {
    text-decoration: none;
}

.card h4:hover {
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.card p {
    font-size: 1.35rem;
    font-family: "IBMPlexSans", "Arial Narrow", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: normal;
}

.card p:hover {
    cursor: pointer;
    color: #00819d;
    transition: 0.5s;
}

.blog_para {
    font-size: 1.35rem;
    font-family: "IBMPlexSans", "Arial Narrow", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: normal;
}

.blog_para:hover {
    cursor: pointer;
    color: #00819d;
    transition: 0.5s;
}

.link_para {
    text-decoration: none !important;
    color: black;
}

/* contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: none !important;
}

form {
    width: 50%;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.Data_font {
    text-align: justify !important;
    font-size: 20px;
}

.cont_h1 {
    background-color: #00819d;
    color: white;
    font-family: Georgia, 'IBMPlexSans", "Arial Narrow", sans-serif';
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.cont_h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    width: 80%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
    border: 1px solid #00819d;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    width: auto;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 19px;
    font-family: Georgia, 'IBMPlexSans", "Arial Narrow", sans-serif';
}

/* carosel card */
@keyframes carouselAnim {
    0% {
        transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
        transform-origin: center center;
        z-index: 10;
    }

    27% {
        transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
        transform-origin: center center;
        z-index: 10;
    }

    33.33333% {
        transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
        transform-origin: left center;
        z-index: 5;
    }

    60% {
        transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
        transform-origin: left center;
        z-index: 5;
    }

    66.666666% {
        transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
        transform-origin: right center;
        z-index: 5;
    }

    93% {
        transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
        transform-origin: right center;
        z-index: 5;
    }

    100% {
        transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
        transform-origin: center center;
        z-index: 10;
    }
}

.carousel__container {
    width: 100%;
    max-width: 960px;
    perspective: 300px;
    perspective-origin: 50% 60%;
    min-height: 14em;
    margin: 3em auto;
}

.carousel__item {
    position: absolute;
    width: 33%;
    padding-bottom: 19%;
    animation-name: carouselAnim;
    /* transform: translateX(0) rotatey(50deg); */
    transform-origin: left center;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.carousel__item:first-child {
    animation-delay: -4s;
}

.carousel__item:last-child {
    animation-delay: -8s;
}

.carousel__image {
    position: absolute;
    width: 100%;
    border-radius: 2px;
}
.azure_img{
    border: 1px solid rgb(81, 77, 77);
    border-radius: 10px;
    box-shadow: 0 6px 19px rgba(13, 13, 14, 0.1) !important;
}