body {
    font-family: Georgia, serif !important;
}

/* navbar */
.navmain {
    padding: 25px !important;
}

.navlink {
    /* width: 300px !important; */
    margin-left: 60px !important;
}

.headermain {

    background-color: #c2ebd9; 
    /* height: 700px !important; */

    background-color: #c2ebd9;

    /* padding-bottom: 15px; */
}

.navlink li {
    padding-left: 5px !important;
    font-weight: 600 !important;
}

.logo_img {
    width: 200px;
}

.img_size {
    width: 500px !important;
}

.img_size2 {
    width: 600px !important;
}

.img_size3 {
    width: 800px !important;
}

.img_size4 {
    width: 450px !important;
}

@media screen and (max-width: 1000px) {
    .navlink {
        margin-left: 0px !important;
    }
}



.dropdown:hover .dropdown-menu {
    display: block !important;
    transition: 0.3s !important;
}

.dropdown-menu {
    width: 250px !important;
    display: none !important;
    padding-top: 15px !important;
    padding-left: -10px !important;
    padding-bottom: 15px !important;
    padding-right: 3px !important;
    box-shadow: 2 20px 19px rgba(4, 4, 6, 0.1) !important;
    border: 1px solid black !important;

}

.dropdown-menu .dropdown-item {
    color: #00819d !important;
    font-weight: 500 !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #00819d !important;
    color: white !important;
    transition: 0.2s !important;
    border-radius: 5px;
}

.nav_link:hover {
    color: #00819d !important;
    transition: 0.3s;
}

.banner {
    width: 200%;
}

.banner_text {
    font-size: 50px;
    font-weight: 700 !important;
}

.banner_para {
    font-size: 21px;
    margin-top: 50px;
    text-align: justify;
    max-width: 900px;

}

.banner_para_2 {
    font-size: 17px;
    text-align: justify !important;
}

.nav_btn {
    background: linear-gradient(to right, #83306c, #bb7914);
    color: white !important;

    border: none !important;

    font-family: Georgia, serif !important;
}

.nav_btn:hover {
    /* background-color: white !important; */
    border-color: #00819d !important;
    box-shadow: 0 6px 19px rgba(13, 13, 14, 0.1) !important;
    /* color: #00819d !important; */
    transition: 0.5s !important;
}

.banner_text2 {
    font-size: 50px;
    font-weight: 500;
}

.sec2_banner {
    width: 350px;
    margin-left: 25px;
}

.data_img {
    padding-top: 30px;
}

.sectionThree {
    background-color: #faf5e7 !important;
}


/* footer */
.rightmenu {
    float: right !important;
    margin-top: 130px;
}

.footerMain {
    background-color: #0A485B !important;
    padding-top: 110px !important;
    padding-bottom: 50px !important;
}

.footer-list li a {
    text-decoration: none !important;
    color: white !important;
}

.footer-list li a:hover {
    text-decoration: none !important;
    transition: 0.3s;
    color: #55997a !important;
}

.footer-list {
    list-style: none;
    color: rgb(161, 157, 157) !important;
}

.footer_clr {
    color: rgb(161, 157, 157) !important;
}

.Header-subtitle {
    font-size: 1.250rem !important;
    font-family: Georgia, serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: inherit;
    letter-spacing: normal;
    color: #000000 !important;
}

.icon-nav {
    width: 25px;

}

.icon-img {
    width: 600px !important;

}

/* blog */
.post {
    display: none;
}

.post.active {
    display: block;
}

.blog_list li {
    list-style: none;
    padding: 20px;
}

.blog_list li a {
    list-style: none;
    padding: 7px;
    font-weight: 500;
    color: black !important;
    text-decoration: none;
}
.BlogOne2{
    width: 1000px !important;
}
.blog_list a.active {

    color: #fff !important;
    font-weight: 600;
    background-color: #00819d;
    line-height: 150%;
    border-radius: 10px;
    text-decoration: none;
}
.index_fin{
    width: 250px;
}
.sec3_para {
    text-decoration: underline;
    text-decoration-color: #FC6140;
    font-size: 25px;
    font-weight: 650;
    color: rgb(6, 6, 121);
}
.blog_img:hover {
    width: 630px !important;
    cursor: pointer !important;
    transition: 0.3s;
}

.card {
    border: none !important;
}

.blog_img2:hover {
    width: 410px !important;
    cursor: pointer !important;
    transition: 0.3s;
}

.blog_img3:hover {
    width: 405px !important;
    cursor: pointer !important;
    transition: 0.3s;
}

.card h4 {
    color: #00819d;
}

.card a {
    text-decoration: none;
}

.card h4:hover {
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.card p {
    font-size: 1.35rem;
    font-family: "IBMPlexSans", "Arial Narrow", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: normal;
}

.card p:hover {
    cursor: pointer;
    color: #00819d;
    transition: 0.5s;
}

.blog_para {
    font-size: 1.35rem;
    font-family: "IBMPlexSans", "Arial Narrow", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: normal;
}

.blog_para:hover {
    cursor: pointer;
    color: #00819d;
    transition: 0.5s;
}

.link_para {
    text-decoration: none !important;
    color: black;
}

/* contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: none !important;
}

form {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Data_font {
    text-align: justify !important;
    font-size: 20px;
}

.cont_h1 {
    background-color: #00819d;
    color: white;
    font-family: Georgia, 'IBMPlexSans", "Arial Narrow", sans-serif';
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.cont_h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    width: 80%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
    border: 1px solid #00819d;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    width: auto;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 19px;
    font-family: Georgia, 'IBMPlexSans", "Arial Narrow", sans-serif';
}


/* carosel card */
@keyframes carouselAnim {
    0% {
        transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
        transform-origin: center center;
        z-index: 10;
    }

    27% {
        transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
        transform-origin: center center;
        z-index: 10;
    }

    33.33333% {
        transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
        transform-origin: left center;
        z-index: 5;
    }

    60% {
        transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
        transform-origin: left center;
        z-index: 5;
    }

    66.666666% {
        transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
        transform-origin: right center;
        z-index: 5;
    }

    93% {
        transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
        transform-origin: right center;
        z-index: 5;
    }

    100% {
        transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
        transform-origin: center center;
        z-index: 10;
    }
}

.carousel__container {
    width: 100%;
    max-width: 960px;
    perspective: 300px;
    perspective-origin: 50% 60%;
    min-height: 14em;
    margin: 3em auto;
}

.carousel__item {
    position: absolute;
    width: 33%;
    padding-bottom: 19%;
    animation-name: carouselAnim;
    /* transform: translateX(0) rotatey(50deg); */
    transform-origin: left center;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.carousel__item:first-child {
    animation-delay: -4s;
}

.carousel__item:last-child {
    animation-delay: -8s;
}

.carousel__image {
    position: absolute;
    width: 100%;
    border-radius: 2px;
}

.azure_img {
    border: 1px solid rgb(81, 77, 77);
    border-radius: 10px;
    box-shadow: 0 6px 19px rgba(13, 13, 14, 0.1) !important;
}


/* list */
.live {
    overflow: hidden;
}

.live>li {
    list-style: none;
    position: relative;
    padding: 0 0 0 2em;
    margin: 0 0 0.5em 10px;
    transition: 0.12s;
}

.live>li::before {
    position: absolute;
    content: '\2022';
    font-family: Arial;
    color: #691d5f !important;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2em;
    opacity: 0.5;
    line-height: 0.75;
    transition: 0.5s;
}

.live>li:hover {
    color: rgb(6, 6, 121);
}

.live>li:hover::before {
    transform: scale(2);
    opacity: 1;
    text-shadow: 0 0 4px;
    transition: 0.1s;
}

.live.type2>li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #691d5f;
    border-radius: 3px;
    line-height: 0;
    top: 0.27em;
    left: 5px;
}

.live.type2>li:hover::before {
    transform: none;
    border-radius: 5px;
    width: 25px;
    left: -10px;
    background: #BA5353;
}

.live.numbers {
    counter-reset: numbers 0;
}

.live.numbers>li::before {
    content: counter(numbers, decimal)'.';
    counter-increment: numbers 1;
    font-size: 1em;
    opacity: 0.5;
    line-height: 1.2;
    transition: 0.5s;
}

.live.numbers>li:hover::before {
    opacity: 1;
    left: -10px;
    transform: none;
    text-shadow: none;
    transition: 0.12s;
}

.live {
    color: rgba(white, 0.5);
    border-radius: 5px;
    /* padding: 1.5em; */
    margin: 1vw;
    box-shadow: 0 0 8px rgba(black, 0.2);
}

/* privacy policy */

.banner_section {
    background-image: url("images/bannerdemo.jpeg");
    width: 100% !important;
    height: 700px !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .banner_section {
        height: 500px !important;
    }
}

@media only screen and (max-width: 480px) {
    .banner_section {
        height: 300px !important;
    }
}


.BlogOne{
    width: 700px !important;
}

.banner_section{
        background-image: url("images/bannerdemo.jpeg");
        width: 100% !important;
        height: 700px !important;
        background-repeat: no-repeat;
        background-size: cover;
      
} 
.section{
    height: 700px !important;
}


 

.txt {
    text-align: justify;
}

.sec3_para {
    text-decoration: underline;
    text-decoration-color: #fc6140;
    font-size: 25px;
    font-weight: 650;
    color: rgb(6, 6, 121);
}
.pp_head {
    text-decoration: underline;
    text-decoration-color: #B36F1F;
    color: #63374C;

}


/* carosel */
.card {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
  }
  @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
    }
    .card {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
    .image-wrapper {
      height: 20vw;
      margin: 0 auto;
    }
    
  }
  @media screen and (max-width: 1006px) {
    .card:not(:first-child) {
      display: none;
    }
    .nxt_btn{
     display: none !important;
      }
      .prev_btn{
display: none !important;
      }
  }
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
  .prev_btn{
    position: relative !important;
    top: -255px !important;
    left: -110px !important;
  }
  .nxt_btn{
    position: relative !important;
    top: -278px !important;
    left: 1212px !important;
  }
  .prev_icon{
    width: 30px !important;
    height: 30px !important;
    border-radius: 10px;
    background-color: #1975af!important;

  }
  .sectionThree2{
    background-color: #abafb6 !important;
    border-radius: 10px;
    
  }
  .sectionThree2 .card{
    width: 550px;
height: 500px;
border-radius: 10px;
  }
  .sectionThree3{
    background-color: white !important;
    border-radius: 10px;
    
  }
  .sectionThree3 .card{
    width: 550px;
    height: 500px;
    border-radius: 10px !important;
    border:0.5px solid #000000 !important;
  }
  .lrn_btn{
    background-color: #0a485b !important;
  }
  @media screen and (min-width: 1800px) and (max-width: 2200px){
    .sectionThree3 .card{
        width: 580px !important;
        height: 550px !important;
        border-radius: 10px !important;
        margin-left: 10px !important;
      }
      .sectionThree2 .card{
        width: 580px !important;
        height: 600px !important;
        border-radius: 10px !important;
        margin-left: 10px !important;
      }
  }